name: Checks

on: [ push, pull_request, workflow_dispatch ]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy

      - name: Build project
        run: cargo build

      - name: Check formatting
        uses: actions-rust-lang/rustfmt@v1

      - name: Run Clippy
        run: cargo clippy